DEEPSEEK_API_KEY=your_deepseek_api_key_here
GMAIL_ADDRESS=your_gmail_address_here
GMAIL_APP_PASSWORD=your_gmail_app_password_here
EMAIL_RECIPIENTS=recipient1@gmail.com,recipient2@gmail.com
GOOGLE_API_KEY=your_google_api_key_here
GOOGLE_CSE_ID=your_google_cse_id_here
